/*
.reset-icon {
  display: none !important;
}
*/
/*st Font to */
* {
    font-family: 'CaskaydiaMono NF Regular', sans-serif;
  }
  

/*
.tabbrowser-tab:is([image], [pinned]) > .tab-stack > .tab-content[attention]:not([selected]), .tabbrowser-tab > .tab-stack > .tab-content[pinned][titlechanged]:not([selected]) {
  background-image: radial-gradient(circle, #ffffff78, #ffffff1c 2px, transparent 2px) !important;
}

/* Change the background color of the first pinned tab */
/*.tabbrowser-tab[pinned]:nth-of-type(1) .tab-background {
  background-color: rgba(255, 100, 100, 0.15) !important;
  box-shadow: none !important;
}

/* Change the background color of the second pinned tab */
/*.tabbrowser-tab[pinned]:nth-of-type(2) .tab-background {
  background-color: rgba(93, 155, 255, 0.15) !important;
  box-shadow: none !important;
}

.tabbrowser-tab[pinned] .tab-background {
  border-top: 1px solid #ffffff1f !important;
  border-bottom: 1px solid #0000001f !important;
}
/*
@media (-moz-bool-pref: "zen.tabs.vertical") {
  #navigator-toolbox:is(#navigator-toolbox[zen-user-hover="true"][zen-has-hover], #navigator-toolbox[zen-user-hover="true"]:focus-within, #navigator-toolbox[zen-user-hover="true"][movingtab], #navigator-toolbox[zen-user-hover="true"][flash-popup], #navigator-toolbox[zen-user-hover="true"][has-popup-menu], #navigator-toolbox[zen-user-hover="true"]:has([open="true"]:not(tab):not(#zen-sidepanel-button)), #navigator-toolbox[zen-expanded="true"]:not([zen-user-hover="true"])) {
  & #zen-essentials-container {
    --tab-min-height: 47px !important;
  }
  }
}

.tab-icon-overlay {
  display: none !important;
}

#TabsToolbar #firefox-view-button[open] > .toolbarbutton-icon, .tab-background:is([selected], [multiselected]) {
  box-shadow: none !important;
  border-top: 1px solid #ffffff2d !important;
  border-bottom: 1px solid #0000002d !important;
  background-color: rgba(255, 255, 255, 0.17) !important;
}

/*Change the HOVER background color of the second pinned tab hover*/
/*.tabbrowser-tab[pinned]:nth-of-type(2) .tab-background:is([selected], [multiselected]) {
  background-color: rgba(161, 197, 255, 0.22) !important;
  box-shadow: none !important;
}

/*Change the HOVER background color of the 1st pinned tab hover*/
/*.tabbrowser-tab[pinned]:nth-of-type(1) .tab-background:is([selected], [multiselected]) {
  background-color: rgba(255, 134, 134, 0.22) !important;
  box-shadow: none !important;
}*/
/*
.tabbrowser-tab[pinned] .tab-background:is([selected], [multiselected]) {
  border-top: 1px solid #ffffff1f !important;
  border-bottom: 1px solid #0000001f !important;
}

.tabbrowser-tab .tab-background{
  transition: background-color 0.2s ease;
}

.tabbrowser-tab[pinned]:not([zen-essential="true"]) .tab-stack .tab-background {
    border: 1px solid #ffffff13 !important;
}
.tabbrowser-tab[pinned]:not([zen-essential="true"]) .tab-stack .tab-background:is([selected], [multiselected]) {
  border-top: 1px solid #ffffff2d !important;
  border-bottom: 1px solid #0000002d !important;
  background-color: rgba(255, 255, 255, 0.17) !important;
}*/
/*
#zen-workspaces-button {
  box-shadow: 0px 1px 10px rgba(0,0,0,0.1) !important;
  border-radius: 8px !important;
}
  .titlebar-button > .toolbarbutton-icon {
  list-style-image: none;
  border-radius: 10px;
  transition: 0.2s ease;
  }
*/

/*
  #zen-workspaces-button {
    .subviewbutton {
        &[active="true"] {
            background: rgba(255, 255, 255, 0.1) !important;
            transition: 0.3s !important;
            border: 1px solid #ffffff0a !important;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.062) !important;
  
        }
  
        &:hover {
            background: rgba(255, 255, 255, 0.2) !important;
            transition: 0.3s !important;
        }
  
        &:after {
            display: none !important;
        }
  
    }
  }
  
  #zen-current-workspace-indicator {
      padding: 10px calc(4px + var(--tab-inline-padding)) !important;
      font-weight: 500 !important; 
  }  */  
  .tab-close-button {
      width: 18px !important;
      height: 18px !important;
      padding: 5px !important;
      border-radius: 20px !important;
    
  }
  
  .close-icon {
      background-color: color-mix(in srgb, currentColor 10%, transparent) !important;
  }
  
  .close-icon:hover {
      background-color: color-mix(in srgb, currentColor 20%, transparent) !important;
  }
  
  /* This style simply makes the tab stay visible while it is being closed as well as makes the transition a bit slower */
  /*
    .tabbrowser-tab:not([pinned],[fadein]){
      transition-duration: 240ms, 240ms !important;
      transition-timing-function: ease-out, ease-out !important;
      visibility: visible !important;
    }
    .tab-content:not([fadein],[pinned])
    .tab-icon-pending:not([fadein]),
    .tab-icon-image:not([fadein]),
    .tab-label:not([fadein]){
      visibility: visible !important;
    }
    .tab-label:not([fadein]){
      display: flex !important;
    }
  */

:root {
	--zen-border-radius: 8px !important;
}

.tabbrowser-tab[pending="true"] .tab-icon-stack {

    opacity: 0.5;
}

/*
@-moz-document url("chrome://global/content/pictureinpicture/player.xhtml") {
  html {
    border: 0px solid rgba(255, 0, 0, 255) !important;
    border-radius: 1rem !important; 
  }
}
*/

 
tab-group:has(tab[hidden]){
  display: none !important;
}
 
.tab-icon-image[src="chrome://branding/content/icon32.png"], .tab-icon-image[src="chrome://browser/skin/privatebrowsing/favicon.svg"] {
  content: url('https://raw.githubusercontent.com/tabler/tabler-icons/01eb08a9bc8075f5bd6828ac30b0a3a038a9ef46/icons/filled/circle.svg') !important;
}



.titlebar-button > .toolbarbutton-icon {
  list-style-image: none;
  border-radius: 10px;
  transition: 0.2s ease;
}

.titlebar-button:hover > .toolbarbutton-icon {
  background: #3aea4994 !important;
  border: 1px solid #3aea49 !important;
}
.titlebar-min:hover > .toolbarbutton-icon {
  background: #fac53794 !important;
  border: 1px solid #fac537 !important;
}
.titlebar-close:hover > .toolbarbutton-icon {
  background: #f34f5694 !important;
  border: 1px solid #f34f56 !important;
}
.titlebar-button > .toolbarbutton-icon {
  background: #ffffff17 !important;
  border: 1px solid #ffffff21 !important;
}

.titlebar-button {
  background: none !important;
  padding: 8px 8px !important;
}

.zen-workspace-tabs-section {height: 78%% !important;}

.tabbrowser-tab[pinned]:nth-of-type(1) .tab-background {
  background-color: rgba(rgba(34, 116, 208, 0.8)) !important;
  box-shadow: none !important;
}
